unified_planning.egg-info/
build/
.idea/
.coverage
.bsp/
.scala-build/
coverage.xml
.planners/
__pycache__/
.mypy_cache/
.vscode/
unified_planning/__pycache__/
*.pyc
*~
.venv/
*_build*
.DS_Store
experiments/