pyparsing
networkx
ConfigSpace
numpy<2 # required as transitive dependencies seems to install version 2 by default that is incompatible with other dependecies
pandas>=1.3.0,<2.0.0
openpyxl
ortools
bidict
up-fast-downward
up-enhsp==0.0.25